In [3]:
import numpy as np
import pandas as pd


import gurobipy as gp
from gurobipy import GRB

In [20]:
xlsx = pd.ExcelFile('C:/Users/shekh/Desktop/278.xlsx')




df_through = pd.read_excel(xlsx, 'through')
df_demand = pd.read_excel(xlsx, 'demand')
df_penalty = pd.read_excel(xlsx, 'penalty')
df_cost = pd.read_excel(xlsx, 'cost')
df1_supply = pd.read_excel(xlsx, 'supply')
df1_supply

  Producer  Supply
0       P1   37550
1       P2   33695
2       P3   71400
3       P4  133100
4       P5   67000

In [21]:
demand1 = df_demand.set_index('Customer').T.to_dict('records')[0]


# Completing the rest
penalty1a = df_penalty.to_numpy()
dots1, penalty1 = gp.multidict({row[0]: row[1] for row in penalty1a})
penalty1


supply1 = df1_supply.set_index('Producer').T.to_dict('records')[0]
#supply1
through1 = df_through.set_index('Depot').T.to_dict('records')[0]
#cost1
cost1a = df_cost.to_numpy()
arcs1, cost1 = gp.multidict({(row[0],row[1]): row[2] for row in cost1a})

In [22]:
model1 = gp.Model('SupplyNetworkDesign1')
flow1 = model1.addVars(arcs1, obj=cost1, name="flow1")
deficit1 = model1.addVars(dots1, obj = penalty1, name = 'deficit1')
model1.update()

# Production capacity limits

producers1 = supply1.keys()
producer_flow1 = model1.addConstrs((gp.quicksum(flow1.select(producer, '*')) <= supply1[producer]
                                 for producer in producers1), name="producer1")


# Customer demand

customers1 = demand1.keys()

customer_flow1 = model1.addConstrs((gp.quicksum(flow1.select('*', customer)+deficit1.select(customer)) == demand1[customer]
                                  for customer in customers1), name="customer1")

# Depot flow conservation

depots1 = through1.keys()
depot_flow1 = model1.addConstrs((gp.quicksum(flow1.select(depot, '*')) == gp.quicksum(flow1.select('*', depot))
                               for depot in depots1), name="depot1")

# Depot throughput

depot_capacity1 = model1.addConstrs((gp.quicksum(flow1.select('*', depot)) <= through1[depot]
                                   for depot in depots1), name="depot_capacity1")

model1.optimize()

Academic license - for non-commercial use only - expires 2021-04-13
Using license file C:\Users\shekh\gurobi.lic
Gurobi Optimizer version 9.1.1 build v9.1.1rc0 (win64)
Thread count: 4 physical cores, 8 logical processors, using up to 8 threads
Optimize a model with 658 rows, 28453 columns and 58199 nonzeros
Model fingerprint: 0x82f4fbd7
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  Objective range  [4e-01, 5e+01]
  Bounds range     [0e+00, 0e+00]
  RHS range        [9e+01, 1e+05]

Concurrent LP optimizer: dual simplex and barrier
Showing barrier log only...

Presolve time: 0.05s
Presolved: 658 rows, 28453 columns, 58199 nonzeros

Ordering time: 0.00s

Barrier statistics:
 AA' NZ     : 3.002e+04
 Factor NZ  : 6.466e+04 (roughly 12 MBytes of memory)
 Factor Ops : 6.776e+06 (less than 1 second per iteration)
 Threads    : 3

                  Objective                Residual
Iter       Primal          Dual         Primal    Dual     Compl     Time
   0   1.42336219e+10  0.00000000e+00  8.56e+06 0.00e+00  9.96e+05     0s
   1   7.60353380e+08 -1.04322712e+07  5.34e+05 2.13e-14  5.95e+04     0s
   2   4.29874211e+07  4.34404696e+04  1.70e+04 2.13e-14  2.53e+03     0s
   3   2.02232321e+07  9.66839484e+06  2.10e+03 2.13e-14  4.70e+02     0s
   4   1.65807537e+07  1.16882645e+07  3.47e+02 2.13e-14  1.81e+02     0s
   5   1.57963177e+07  1.26566314e+07  1.93e+02 1.42e-14  1.12e+02     0s
   6   1.51935782e+07  1.30845592e+07  9.78e+01 1.42e-14  7.41e+01     0s
   7   1.48420005e+07  1.34085943e+07  6.05e+01 1.42e-14  5.00e+01     0s
   8   1.42412061e+07  1.35922812e+07  1.26e+01 1.78e-14  2.26e+01     0s
   9   1.41341781e+07  1.37624225e+07  8.56e+00 1.42e-14  1.29e+01     0s
  10   1.39671695e+07  1.37938140e+07  3.29e+00 1.42e-14  6.03e+00     0s
  11   1.38863162e+07  1.38240974e+07  1.02e+00 1.42e-14  2.16e+00     0s
  12   1.38625363e+07  1.38392311e+07  4.37e-01 1.42e-14  8.10e-01     0s
  13   1.38426466e+07  1.38419756e+07  3.33e-03 2.13e-14  2.33e-02     0s
  14   1.38422959e+07  1.38422452e+07  1.40e-04 1.42e-14  1.76e-03     0s
  15   1.38422709e+07  1.38422672e+07  6.23e-06 1.42e-14  1.29e-04     0s
  16   1.38422695e+07  1.38422691e+07  4.05e-07 1.42e-14  1.12e-05     0s
  17   1.38422694e+07  1.38422693e+07  5.36e-09 1.42e-14  3.58e-07     0s
  18   1.38422693e+07  1.38422693e+07  2.97e-09 2.27e-13  3.61e-10     0s

Barrier solved model in 18 iterations and 0.25 seconds
Optimal objective 1.38422693e+07


Solved with dual simplex
Solved in 1673 iterations and 0.26 seconds
Optimal objective  1.384226935e+07

In [23]:
obj1 = model1.getObjective()
print('Objective Equation Function:')
obj1

print('\n Objective Function Value:')
print(obj1.getValue())

print('\n Vaccine Flow Values: \n')

product_flow1 = pd.DataFrame(columns=["From", "To", "Flow", "Cost"])
for arc in arcs1:
    if flow1[arc].x > 1e-6:
        product_flow1 = product_flow1.append({"From": arc[0], "To": arc[1], "Flow": flow1[arc].x, "Cost": flow1[arc].x*cost1[arc]}, ignore_index=True)  

product_flow1.index=[''] * len(product_flow1)
product_flow1


print('\n Defecit Values: \n')

deficit_flow1 = pd.DataFrame(columns=["Customer", "Deficit", "Penalty"])
for customer in customers1:
    if deficit1[customer].x > -1e-6:
        deficit_flow1 = deficit_flow1.append({"Customer": customer, "Deficit": deficit1[customer].x, "Penalty": deficit1[customer].x*penalty1[customer]}, ignore_index=True)

deficit_flow1.index=[''] * len(deficit_flow1)
deficit_flow1

Objective Equation Function:

 Objective Function Value:
13842269.348056749

 Vaccine Flow Values:


 Defecit Values:

   Customer  Deficit   Penalty
         C1      0.0       0.0
         C2      0.0       0.0
         C3      0.0       0.0
         C4      0.0       0.0
         C5      0.0       0.0
..      ...      ...       ...
        C93   7912.2  276927.0
        C94      0.0       0.0
        C95      0.0       0.0
        C96   8865.8  310303.0
        C97   7339.0  256865.0

[97 rows x 3 columns]

In [24]:
product_flow1

    From   To    Flow         Cost
      P1   D3   800.0  5981.961471
      P1   D9   200.0   720.669826
      P1  D19   200.0  3668.707722
      P1  D27   200.0  3473.442556
      P1  D75   200.0  2444.780656
..   ...  ...     ...          ...
    D270  C88   200.0     0.000000
    D272  C93   200.0     0.000000
    D273  C41   200.0     0.000000
    D276  C85  1000.0     0.000000
    D277  C84   200.0     0.000000

[459 rows x 4 columns]

In [25]:
# writer = pd.ExcelWriter('C:/Users/PART2_278_x1.xlsx', engine='xlsxwriter')
# deficit_flow1.to_excel(writer, sheet_name='Shortage Cost')
# product_flow1.to_excel(writer, sheet_name='Transportation Cost')
# writer.save()